/* About page specific styles */
#hero {
    width: 1000px;
    height: 240px;
    padding: 10px 0;
  }
  
  #whyUs {
    width: 400px;
    padding: 10px 0;
  }
  
  #callToAction {
    width: 600px;
    padding: 10px 0;
  }
  
  