/* Common styles for all pages */
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: transparent;
  --primary-color: #ff5733; /* Add the custom property --primary-color */
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary-color); /* Use the custom property value */
  padding: 10px 0;
  z-index: 1000;
}

nav {
  display: flex;
}

nav ul {
  list-style: none;
  padding-left: 20px; 
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:link {
  text-decoration: none;
}

nav ul li a:visited {
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

nav ul li a:focus {
  text-decoration: none;
}

nav ul li a:active {
  text-decoration: none;
}

main {
  margin-top: 50px; 
  padding-left: 20px; 
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary-color); 
  padding: 10px 0;
  text-align: left;
  padding-left: 20px; 
}

span#copyright {
  color: #fff;
}

button {
  background-color: #2ecc71;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #27ae60;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px; 
}

p {
  font-family: 'Roboto', sans-serif;
}

#copyright {
  font-size: 10px;
}

.mobileFeature {
  display: none;
}

.disappearing {
  display: block;
}

@media (max-width: 500px) {
  .disappearing {
      display: none;
  }
  .mobileFeature {
      display: block; 
  }
}
