body {
    font-family: Arial, sans-serif;
    background-color: #ff5733;
}

ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

ol li {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    position: relative;
    cursor: pointer;
}

ol li:hover::before {
    content: attr(data-blackjack-value);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: #333;
    display: block;
}

section {
    margin-bottom: 20px;
}

dl {
    margin-bottom: 10px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s;
}

button:hover::before {
    content: attr(data-user-hints);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    display: block;
}

button:hover {
    background-color: #ff5733;
}

.wager-input {
    width: 200px;
  }
  
  #dealersCards ol,
  #playersCards ol {
    flex-wrap: wrap;
  }
  